@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";
@import "components/icon-row.css";

/*Screens*/
@import "Screens/login.css";
@import "Screens/friends.css";
@import "Screens/find.css";
@import "Screens/more.css";

body {
  color: #020721;
  font-family: "Ubuntu", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
